.account-page {
  min-height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
  margin-left: 250px;
  margin-top: 60px;
}

.account-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 25px;
  margin: 0 auto;
  max-width: 1400px;
}

.table-controls {
  margin-bottom: 15px;
}

.table-controls input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.table-container {
  background: #fff;
  border-radius: 12px;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.data-table th {
  background: #f8fafc;
  color: #2d3748;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  padding: 12px 20px;
  border-bottom: 2px solid #edf2f7;
  text-align: left;
}

.data-table td {
  padding: 12px 20px;
  color: #4a5568;
  border-bottom: 1px solid #edf2f7;
}

.data-table tbody tr:hover {
  background-color: #f8f9fa;
}

.account-page {
  min-height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
  margin-left: 250px;
  margin-top: 60px;
}

.account-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 25px;
  margin: 0 auto;
  max-width: 1400px;
}

.table-controls {
  margin-bottom: 15px;
}

.table-controls input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.table-container {
  background: #fff;
  border-radius: 12px;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.data-table th {
  background: #f8fafc;
  color: #2d3748;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  padding: 12px 20px;
  border-bottom: 2px solid #edf2f7;
  text-align: left;
}

.data-table td {
  padding: 12px 20px;
  color: #4a5568;
  border-bottom: 1px solid #edf2f7;
}

.data-table tbody tr:hover {
  background-color: #f8f9fa;
}

.assetpagination-controls {
  display: flex;
  justify-content: flex-end; /* move to right side */
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.assetpagination-info {
  font-size: 0.9rem;
  color: #555;
}
.assetpagination-controls button {
   background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.assetpagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

